body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
}

/* HEADING */

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 6.93%;
}

.logo {
  width: 189px;
  height: 47px;
}

.hamburger {
  display: none;
}

.menu__row {
  margin-top: 15px;
  padding: 0;
  list-style-type: none;
}

.menu__item {
  float: left;
  padding: 0 22px;
  border-right: 1px solid #626262;
  line-height: 15px;
}

.menu__item--last {
  border-right: 0;
}

.menu__link {
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #626262;
}

.menu__link:hover {
  color: #00AEFF;
}

.menu__link--active {
  color: #00AEFF;
}

/* SEARCH FIELD */

.btn-search-mobile {
  display: none;
}

.form-search {
  display: flex;
  width: 170px;
  height: 30px;
  margin-top: 7px;
  padding: 2px;
}

.form-search__field {
  min-width: 62px;
  width: 80%;
  height: 30px;
  border: 0;
  padding: 2px;
  background-color: #F1F3F6;
  font-style: italic;
}

.form-search__field:focus {
  outline: none;
  background-color: #D8DADD;
  font-style: normal;
}

.form-search__submit {
  border: none;
  width: 30px;
  height: 30px;
  padding: 0 2%;
  background-image: url(img/search-icon.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #F1F3F6;
  cursor: pointer;
}

/* SLIDER */

.slider {
  position: relative;
  background-color: #31333E;
  height: 550px;
}

.slider__btn-arrow {
  position: absolute;
  width: 29px;
  height: 50px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  top: 220px;
  outline: none;
  z-index: 5;
}

.slider__btn-arrow--left {
  background-image: url(img/arrow.png);
  right: 90%;
}

.slider__btn-arrow--right {
  background-image: url(img/arrowR.png);
  left: 90%;
}

.slider__wrapper {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  border: 1px solid transparent;
}

.slider__container--hidden {
  display: none;
}

.slider__heading {
  text-align: center;
  margin: 60px 0;
  height: 100%;
}

.slider__title {
  display: inline-block;
  margin: 0 5%;
}

.slider__btn-more {
  display: inline-block;
  background-color: #00AEFF;
  border: 0;
  border-radius: 5px;
  margin-left: 50px;
  width: 220px;
  height: 60px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
}

.slider__btn-more:hover {
  background-color: #009CE5;
}

.slider__img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 202px;
}

/* SECTIONS */

.section-title {
  margin: 0;
  color: #5F5F5D;
}

/* SECTION - APPS */

.apps {
  margin: 0 10%;
  margin-top: 100px;
  margin-bottom: 75px;
  display: flex;
  justify-content: space-around;
}

.apps__container {
  text-align: center;
  width: 340px;
  margin-left: 60px;
}

.apps__container--first {
  margin-left: 0;
}

.apps__img {
  margin: 25px 0 30px 0;
}

.apps__text {
  margin: 0;
  margin-bottom: 30px;
}

.apps__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #00B3FF;
  font-weight: 600;
}

.apps__link:hover {
  color: #00A1DD;
}

  /* SECTION - WORKS */

.works {
  background-color: #E2E7ED;
  padding-top: 55px;
  padding-bottom: 100px;
}

.works__title {
  margin-left: 10%;
}

.works__container {
  margin: 0 10%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.works__images {
  width: 250px;
  height: 200px;
  position: relative;
  box-shadow: 0 0 5px 1px #777777;
  margin: 3px;
}

.works__images__mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00AEFF;
  height: 200px;
  width: 250px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility .7s, opacity .7s ease;
}

.works__images:hover .works__images__mask {
  opacity: 1;
  visibility: visible;
}

.works__images__mask-title{
  color: #FFFFFF;
}

.works__images__mask-text {
  color: #FFFFFF;
}

.works__images__mask__btn {
  width: 70px;
  height: 40px;
  position: absolute;
  border: 0;
  bottom: 0;
  cursor: pointer;
}

.works__images__mask__btn--show {
  background-image: url(img/show-icon.jpg);
  left: 0;
}

.works__images__mask__btn--share {
  background-image: url(img/share-icon.jpg);
  right: 0;
}

  /* SECTION - CLIENTS */

.clients {
  margin: 0 10%;
  margin-top: 35px;
  margin-bottom: 80px;
}

.clients__list {
  height: 60px;
}

/* FOOTER */

.footer {
  background-color: #31333F;
  padding-top: 45px;
  padding-bottom: 75px;
}

.footer__wrapper {
  margin: 0 10%;
}

.footer__container::after {
  content: "";
  display: block;
  clear: both;
}

.footer__side {
    float: left;
}

.footer__nav {
  list-style-type: none;
  padding: 0;
  height: 20px;
}

.footer__nav__item {
  float: left;
  padding: 0 15px;
  border-right: 1px solid #FFFFFF;
  line-height: 15px;
}

.footer__nav__item--first {
  padding-left: 0;
}

.footer__nav__item--last {
  border: 0;
}

.footer__nav__link {
  text-decoration: none;
  color: #FFFFFF;
}

.footer__nav__link:hover {
  color: #00AEFF;
}

.footer__copyright {
  color: #FFFFFF;
}

.footer__socials {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: right;
}

.footer__socials::after {
  content: "";
  display: block;
  clear:both;
}

.footer__socials__item {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin: 5px;
  position: relative;
}

.footer__socials__item:hover {
  bottom: 2px;
  box-shadow: 2px 4px 15px #222222;
}

.footer__desc {
  color: #FFFFFF;
  margin-top: 20px;
}

@media all and (max-width: 1000px) {

.header {
  flex-wrap: wrap;
  justify-content: space-around;
}

.form-search {
  order: 0;
}

.menu {
  order: 1;
}

.slider__btn-more {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.slider__img {
  top: 230px;
  width: 70%;
}

.slider__btn-arrow {
  top: 240px;
}

.works__images {
  margin: 8px;
}

}

@media all and (max-width: 640px) {

.header {
  display: block;
  margin: 0;
}

.logo {
  margin: 10px;
  display: inline-block;
}

.hamburger {
  margin-top: 13px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 50px;
  display: inline-block;
  width: 36px;
  height: 36px;
}

.btn-search-mobile {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 18px;
}

.form-search {
  display: none;
  width: 92%;
  padding: 0;
  margin: 0 auto 0 auto;
  max-height: 0;
}

.form-search--visible {
  display: block;
  max-height: 40px;
  margin-bottom: 10px;
}

.form-search__submit {
  display: none;
}

.form-search__field {
  width: 100%;
}

.menu__row {
  background-color: #31333E;
  padding: 0 5%;
  margin: 0;
  display: none;
}

.menu__row--visible {
  display: block;
}

.menu__item {
  padding: 0;
  text-align: center;
  float: none;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #64666F;
}

.menu__item:hover {
  background-color: #42444F;
}

.menu__link {
  color: #FFFFFF;
  display: block;
  padding: 20px 0;
}

.slider {
  height: 450px;
}

.slider__btn-more {
  width: 180px;
  height: 50px;
  font-size: 20px;
}

.apps {
  flex-wrap: wrap;
  margin: 30px 0;
}

.apps__container {
  margin-left: 0;
  padding: 40px 0;
  box-shadow: 0 3px 2px -3px #191919;
}

.apps__container--last {
  box-shadow: none;
}

.works__images {
  margin-bottom: 15px;
}

.footer {
  padding-top: 25px;
}

.footer__side {
  float: none;
}

.footer__nav {
  margin-bottom: 30px;
  height: auto;
}

.footer__nav__item {
  float: none;
  border-right: none;
  display: block;
  padding: 5px 0;
  text-align: center;
}

.footer__copyright {
  border-top: 1px solid #ACACAC;
  padding-top: 30px;
}

.footer__socials {
  float: none;
  text-align: center;
}
